@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

html, body {
  font-family: 'Times New Roman', Times, serif;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

* {
  font-family: 'Times New Roman', Times, serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
